@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #f3f3ee;
    color: #2D3A3A;
    font-family: 'Lexend', sans-serif;
}

/* Mission Styles, Removes padding and margins for the Mission Statement section */
.mission {
    padding: 0;
    margin: 0;
}

/* Study Styles, Removes padding and margins for the Why study with us section */
.study {
    padding: 0;
    margin: 0;
}

.study h2 {
    text-align: center;
}

/* Container Custom Code */
.container-fluid {
    padding:0;
}

/* Navbar Styles */

/* Used the Whiskey Drop CSS for the Navbar*/
.navbar {
    padding:0;
}

.activeMenuItem {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 280%;
    font-family: 'Roboto', sans-serif;
    color: #f3f3ee;
}

.navbar-brand:hover {
    color: #f3f3ee;
}

.nav-link {
    color: #f3f3ee;
    font-size: 110%;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.navbar-nav {
    margin-top: 10px;
}

.nav-link:hover {
    color: #f3f3ee;
    text-decoration: underline;
}

.navbar-toggler {
    border: 2px solid #f3f3ee;
}

/* Custom Code */
.nav-custom {
    background-color: #169B62;
    padding: 0 10px;
}

#subTitle {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
}

/* Needed to change the colour of the Burger menu on Mobile, found the fix here: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243, 243, 238, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Hover.css from https://ianlunn.github.io/Hover */
.hvr-sweep-to-right:before {
    background-color: #FF883E;
}


/* Footer Styles, Custom Code */ 
footer {
    background-color: #169B62;
    color: #f3f3ee;
    padding: 10px 0;
}

footer i {
    color: #f3f3ee;
    font-size: 180%;
}

footer i:hover {
    color: #FF883E;
}

.contactInfo a {
    color: #f3f3ee;
}

.contactInfo a:hover {
    color: #FF883E;
}

.right {
    float: right;  
}

.left {
    float: left;  
}

.row {
    margin:0;
    padding:0;
}


/* Events Styles, Started out as the Times section from the Love Running Project*/
.events {
	color: #f3f3ee;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px 0;
}

.events ul {
    margin: 0;
}

/* CSS found here https://stackoverflow.com/questions/5449872/css-notlast-childafter-selector */
.events ul li:not(:last-child) {
    border-right: 2px solid #FF883E;
}

/* Jumbotron and Hero Image section, Code from the Whiskey Drop CSS */
.callout-container {
    height: 60vh;

    background: url('../images/hero_image_resized.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
    color: #f3f3ee;
    font-weight: bold;
    margin: 30px 0px;
}

.jumbotron .lead {
    color: #f3f3ee;
    margin: 25px 0;
}

/* Block dividers */
.block-divider {
    width: 35%;
    height: 2px;
    border: 0;
}

.event-divider {
    height: 2px;
    border: 0;
}

.block-divider--orange {
    background-color: #FF883E;
}

/* Study Styles, Custom code*/
.reasons{
    height: 200px;
}

.study{
    margin-top: 25px;
}

.study i{
    font-size: 480%;
    width: 85px;
}

.divider--orange {
    border-left: 2px solid #FF883E;
    padding-left: 20px;
    margin-left: 20px;
}

/* Courses Styles, Custom Code */
.courses>div{
    margin-left: 5%;
}

.courses h1{
    margin-top: 20px;
    text-align: center;
}

.classes{
    margin-bottom: 20px;
}

/* Collapsible tutorial from W3schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible */
.collapsible {
  background-color: #FF883E;
  color: #f3f3ee;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2rem;
}

.active, .collapsible:hover {
  background-color: #FF883E;
}

.collapsible:after {
  content: '\002B';
  color: #f3f3ee;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  width: 80%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f3f3ee;
}

/* Media Queries Custom Code */
@media only screen and (max-width: 980px) {
    /* Hide the Title text for smaller screens */
    #subTitle {
        display: none;
    }

    /* Scales the text to fit on Mobile */
    .jumbotron h1 {
        font-size: 1.2rem;
    }

    .jumbotron .lead {
        font-size: .75rem;
    }

    /* Floats the Social links under contact info on mobile */
    .right {
        float: left;  
    }

    /* CSS found here https://stackoverflow.com/questions/5449872/css-notlast-childafter-selector */
    .events ul li:not(:last-child) {
        border-right: none;
        border-bottom: 2px solid #FF883E;
    }
}
