@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body{
    background-color: #f3f3ee;
    color: #2D3A3A;
    font-family: 'Lato';
}

.container-fluid{
    padding:0;
    position: relative;
    min-height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1a843e;
    color: #f3f3ee;
    height: 65px;
}

footer i{
    color: #f3f3ee;
    font-size: 180%;
    padding-top: 10px;
}

.row{
    margin:0;
    padding:0;
}

/*-- navbar --*/
.navbar{
    padding:0;
}

.nav-custom{
    background-color: #1a843e;
    padding: 0 10px;
}

.active{
    text-decoration: underline;
}

.navbar-brand{
    font-size: 280%;
    font-family: 'Oswald';
    color: #f3f3ee;
}

.navbar-brand:hover{
    color: #f3f3ee;
}

.nav-link{
    color: #f3f3ee;
    font-size: 110%;
	letter-spacing: 4px;
}

.nav-link:hover{
    background-color: rgba(0, 0, 0, .15);
    color: #f3f3ee;
    text-decoration: underline;
}

.navbar-toggler{
    border: 2px solid #f3f3ee;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243, 243, 238, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#subTitle{
    font-size: 18px;
    font-family: 'Lato';
}

/*-- navbar Media Queries--*/
@media only screen and (max-width: 980px) {
  #subTitle {
    display: none;
  }
}